[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[dev-packages]
pytest = "*"
pytest-mock = "*"
pudb = "*"

[requires]
python_version = "3.7"

[packages.plug-framework]
path = "./../plug-libs/plug_framework-0.0.24-py3-none-any.whl"
